<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        formControlName="email"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        formControlName="password"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" placeholder="1234 Main St" />
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input
      type="text"
      class="form-control"
      placeholder="Apartment, studio, or floor"
    />
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" />
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select class="form-control">
        <option selected>Choose...</option>
        <option>Odisha</option>
        <option>AP</option>
        <option>Tamilnadu</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" />
      <label class="form-check-label" for="gridCheck"> Check me out </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
