<h2>Routing Demo</h2>
<div class="card-container">
  <p>
    Common Routing Tasks This topic describes how to implement many of the
    common tasks associated with adding the Angular router to your application.
  </p>
</div>
<div class="card-container">
  <a routerLink="/home" class="badge badge-primary" routerLinkActive="active"
    >Home</a
  >
  <a routerLink="/about" class="badge badge-secondary">About</a>
  <a href="#" class="badge badge-success">Service</a>
  <span class="badge badge-pill badge-danger">Product</span>
</div>
