<div class="card">
  <div class="card-header">Information</div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <a href="#" class="btn btn-primary">Read More</a>
    <blockquote class="blockquote mb-0 py-3">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
        erat a ante.
      </p>
      <footer class="blockquote-footer">
        Author <cite title="Jhon Brad">Jhon Brad</cite>
      </footer>
    </blockquote>
    <!-- comment form start -->
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input
          type="text"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <!-- comment form end -->
  </div>
</div>
